.personajes{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-top: 30px; 
  justify-content: space-around;
}
.personajes img{
  width: 200px;
  height: 200px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
